{
	"root": true,
	"parserOptions": {
		"parser": "babel-eslint",
		"sourceType": "module",
		"ecmaVersion": 9,
		"ecmaFeatures": { "jsx": true }
	},
	"env": {
		"commonjs": true,
		"browser": true,
		"jquery": true,
		"worker": true,
		"mocha": true,
		"jest": true,
		"node": true,
		"amd": true
	},
	"plugins": [
		"flowtype",
		"jsx-a11y",
		"promise",
		"compat",
		"import",
		"babel",
		"react",
		"vue"
	],
	"extends": [
		"plugin:flowtype/recommended",
		"plugin:jsx-a11y/recommended",
		"plugin:promise/recommended",
		"plugin:react/recommended",
		"plugin:vue/recommended",
		"eslint:recommended"
	],
	"globals": { "Vue": true, "React": true },
	"settings": { "polyfills": ["fetch"] },
	"rules": {
		"accessor-pairs": "error",
		"array-bracket-spacing": ["error", "never"],
		"arrow-parens": ["error", "as-needed", { "requireForBlockBody": false }],
		"arrow-spacing": ["error", { "before": true, "after": true }],
		"block-spacing": ["error", "always"],
		"brace-style": ["error", "1tbs", { "allowSingleLine": true }],
		"comma-dangle": ["error", { "arrays": "always-multiline", "objects": "always-multiline", "imports": "always-multiline", "exports": "always-multiline", "functions": "never" }],
		"comma-spacing": ["error", { "before": false, "after": true }],
		"comma-style": ["error", "last"],
		"computed-property-spacing": ["error", "never"],
		"curly": ["error", "multi-line"],
		"dot-location": ["error", "property"],
		"eol-last": ["error", "never"],
		"eqeqeq": ["error", "always", { "null": "ignore" }],
		"func-call-spacing": ["error", "never"],
		"generator-star-spacing": ["error", "after"],
		"handle-callback-err": ["error", "^(err|error)$"],
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"jsx-quotes": ["error", "prefer-double"],
		"key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
		"keyword-spacing": ["error", { "before": true, "after": true }],
		"new-parens": "error",
		"no-array-constructor": "error",
		"no-caller": "error",
		"no-constant-condition": ["error", { "checkLoops": false }],
		"no-eval": "error",
		"no-extend-native": "error",
		"no-extra-bind": "error",
		"no-extra-parens": ["error", "functions"],
		"no-extra-semi": "off",
		"no-floating-decimal": "error",
		"no-implied-eval": "error",
		"no-inner-declarations": ["error", "functions"],
		"no-iterator": "error",
		"no-label-var": "error",
		"no-labels": ["error", { "allowLoop": false, "allowSwitch": false }],
		"no-lone-blocks": "error",
		"no-mixed-operators": ["error", { "groups": [["+", "-", "*", "/", "%", "**"], ["&", "|", "^", "~", "<<", ">>", ">>>"], ["==", "!=", "===", "!==", ">", ">=", "<", "<="], ["&&", "||"], ["in", "instanceof"]], "allowSamePrecedence": true }],
		"no-multi-spaces": "error",
		"no-multi-str": "error",
		"no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0 }],
		"no-negated-in-lhs": "error",
		"no-new-func": "error",
		"no-new-object": "error",
		"no-new-require": "error",
		"no-new-wrappers": "error",
		"no-new": "error",
		"no-octal-escape": "error",
		"no-path-concat": "error",
		"no-proto": "error",
		"no-return-assign": ["error", "except-parens"],
		"no-return-await": "error",
		"no-self-compare": "error",
		"no-sequences": "error",
		"no-shadow-restricted-names": "error",
		"no-tabs": "off",
		"no-template-curly-in-string": "error",
		"no-throw-literal": "error",
		"no-trailing-spaces": "error",
		"no-undef-init": "error",
		"no-unmodified-loop-condition": "error",
		"no-unneeded-ternary": ["error", { "defaultAssignment": false }],
		"no-unused-vars": ["error", { "vars": "all", "args": "all", "argsIgnorePattern": "^_", "ignoreRestSiblings": true, "caughtErrors": "all", "caughtErrorsIgnorePattern": "^_" }],
		"no-use-before-define": ["error", { "functions": false, "classes": false, "variables": false }],
		"no-useless-call": "error",
		"no-useless-computed-key": "error",
		"no-useless-constructor": "error",
		"no-useless-escape": "error",
		"no-useless-rename": "error",
		"no-useless-return": "error",
		"no-var": "error",
		"no-whitespace-before-property": "error",
		"no-with": "error",
		"object-property-newline": ["off", { "allowMultiplePropertiesPerLine": true }],
		"object-shorthand": ["error", "always", { "avoidQuotes": false, "ignoreConstructors": false, "avoidExplicitReturnArrows": true }],
		"one-var": ["error", { "initialized": "never" }],
		"operator-linebreak": ["error", "after", { "overrides": { "?": "before", ":": "before" } }],
		"padded-blocks": ["error", { "blocks": "never", "switches": "never", "classes": "never" }],
		"prefer-const": "error",
		"prefer-promise-reject-errors": "error",
		"quote-props": ["error", "as-needed", { "keywords": false, "unnecessary": true, "numbers": false }],
		"rest-spread-spacing": ["error", "never"],
		"semi-spacing": ["error", { "before": false, "after": true }],
		"space-before-blocks": ["error", "always"],
		"space-before-function-paren": ["error", { "anonymous": "always", "named": "never", "asyncArrow": "always" }],
		"space-in-parens": ["error", "never"],
		"space-infix-ops": "error",
		"space-unary-ops": ["error", { "words": true, "nonwords": false }],
		"spaced-comment": ["error", "always", { "line": { "markers": ["/"], "exceptions": ["-", "+"] }, "block": { "markers": ["!"], "exceptions": ["*"], "balanced": true } }],
		"strict": "error",
		"symbol-description": "error",
		"template-curly-spacing": ["error", "never"],
		"template-tag-spacing": ["error", "never"],
		"unicode-bom": ["error", "never"],
		"wrap-iife": ["error", "any", { "functionPrototypeMethods": true }],
		"yield-star-spacing": ["error", "after"],
		"yoda": ["error", "never"],

		"semi": "off",
		"quotes": "off",
		"new-cap": "off",
		"camelcase": "off",
		"valid-typeof": "off",
		"no-invalid-this": "off",
		"object-curly-spacing": "off",
		"no-unused-expressions": "off",

		"babel/semi": ["error", "always"],
		"babel/quotes": ["error", "double", { "avoidEscape": true, "allowTemplateLiterals": false }],
		"babel/new-cap": ["error", { "newIsCap": true, "capIsNew": false }],
		"babel/camelcase": ["error", { "properties": "never" }],
		"babel/valid-typeof": ["error", { "requireStringLiterals": true }],
		"babel/no-invalid-this": "error",
		"babel/object-curly-spacing": ["error", "always", { "arraysInObjects": true, "objectsInObjects": true }],
		"babel/no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true, "allowTaggedTemplates": true }],

		"compat/compat": ["off", "android >= 4", "ios >= 7", "ie >= 8", ">= 0.2%"],
		"import/default": "error",
		"import/export": "error",
		"import/first": "error",
		"import/no-duplicates": "error",
		"import/no-named-default": "error",
		"jsx-a11y/alt-text": "off",
		"jsx-a11y/href-no-hash": "off",
		"promise/no-callback-in-promise": "off",
		"promise/no-promise-in-callback": "off",
		"react/jsx-boolean-value": "error",
		"react/jsx-curly-spacing": ["error", "never"],
		"react/jsx-equals-spacing": ["error", "never"],
		"react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
		"react/jsx-indent-props": ["error", "tab"],
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-tag-spacing": ["error", { "beforeSelfClosing": "always" }],
		"react/no-deprecated": "off",
		"react/prop-types": "off",
		"react/react-in-jsx-scope": "error",
		"react/self-closing-comp": "error",
		"vue/component-name-in-template-casing": ["error", "kebab-case"],
		"vue/html-indent": ["error", "tab"],
		"vue/html-quotes": ["error", "double"]
	}
}