{
	"presets": [
		"env",
		"vue",
		"stage-0"
	],
	"plugins": [
		"transform-decorators-legacy",
		"transform-runtime",
		[
			"component",
			{
				"libraryName": "element-ui",
				"style": false
			}
		]
	]
}