<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="cache-control" content="no-siteapp" />
	<meta http-equiv="cache-control" content="no-transform" />
	<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="format-detection" content="telephone=no,email=no" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover" />
	<title><%= title %></title>
	<link rel="shortcut icon" href="<%= ico %>" />
	<% for (const v of css||[]) { %><link rel="stylesheet" href="<%= v %>" /><% } %>
</head>
<body>
	<div id="app"></div>
	<script type="text/javascript">
		window.onerror = function () {
			try {
				var keys = ["message", "source", "line", "column", "error"];
				for (var data = {}, i = 0; i < keys.length; i++) {
					var key = keys[i]; var value = arguments[i];
					data[key] = value || "* " + value;
					if (value && typeof value === "object") {
						var names = Object.getOwnPropertyNames(value);
						for (var j = 0; j < names.length; j++) {
							var name = names[j]; var text = value[name];
							data[key + "-" + name] = text || "* " + text;
						}
					}
				}
				console.log(JSON.stringify(data));
			} catch (error) { }
		}; // environment: <%= process.env.NODE_ENV %>
		document.body.clientHeight; // fix Safari innerHeight zero in iframe
	</script>
	<!--[if lt IE 9]><script type="text/javascript" src="<%= p %>js/ie.lib.js"></script><![endif]-->
	<% for (const v of js||[]) { %><script type="text/javascript" src="<%= v %>"></script><% } %>
</body>
</html>